@keyframes fadeSlideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeSlideDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeSlideLeft {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeSlideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.Down {
  animation: fadeSlideDown 0.167s forwards;
}
.Left {
  animation: fadeSlideLeft 0.167s forwards;
}
.Up {
  animation: fadeSlideUp 0.167s forwards;
}
.Right {
  animation: fadeSlideRight 0.167s forwards;
}
@keyframes grow {
  0% {
    transform: rotateZ(-1deg);
  }
  50% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(-1deg);
  }
}
